<h2>Constructors</h2>

<div class="row">
    <div class="col-sm-4" *ngFor="let constructor of constructors">
        <div class="panel panel-default">
            <div class="panel-heading">{{constructor.name}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12"><img src="{{constructor.image}}" alt=""></div>
                </div>

                <div class="row">
                    <div class="col-lg-12"><p>Nationality: {{constructor.nationality}}</p></div>
                </div>

                <div class="row">
                    <div class="col-lg-12"><a href="{{constructor.wiki}}">See wikipedia</a></div>
                </div>
            </div>
        </div>
    </div>
</div>