<h2>Drivers</h2>

<div class="row">
    <div class="col-sm-4" *ngFor="let driver of drivers">
        <div class="panel panel-default">
            <div class="panel-heading">{{driver.name}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12"><img src="{{driver.image}}" alt=""></div>
                </div>

                <div class="row">
                    <div class="col-lg-6"><p>Nationality: {{driver.nationality}}</p></div>
                    <div class="col-lg-6"><p>Wins: {{driver.wins}}</p></div>
                </div>

                <div class="row">
                    <div class="col-lg-6"><p>Position: {{driver.position}}</p></div>
                    <div class="col-lg-6"><p>Points: {{driver.points}}</p></div>
                </div>
            </div>

            <div class="panel-footer text-center">
                <a [routerLink]="['driver/'+driver.id]"
                   class="btn btn-primary">
                    See details
                </a>
            </div>
        </div>
    </div>
</div>