<h2 *ngIf="driver">Driver: {{driver.name}}</h2>

<div class="row" *ngIf="driver">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12"><img src="{{driver.image}}" alt=""></div>
                </div>

                <div class="row">
                    <div class="col-lg-6"><p>Nationality: {{driver.nationality}}</p></div>
                    <div class="col-lg-6"><p>Date of birth: {{driver.dateOfBirth}}</p></div>
                </div>

                <div class="row">
                    <div class="col-lg-6"><p>Number: {{driver.permanentNumber}}</p></div>
                    <div class="col-lg-6"><a href="{{driver.url}}">Biography</a></div>
                </div>
            </div>
        </div>
    </div>
</div>