<h2>Circuits</h2>

<div class="row">
    <div class="col-sm-4" *ngFor="let circuit of circuits">
        <div class="panel panel-default">
            <div class="panel-heading">{{circuit.name}}</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12"><img src="{{circuit.image}}" alt=""></div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p>Location: {{circuit.location.city}}, {{circuit.location.country}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <a href="{{circuit.url}}">See Wiki</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>