<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Formula 1</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['']">
                        Drivers
                    </a>
                </li>

                <li routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['constructors']">
                        Constructors
                    </a>
                </li>

                <li routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['circuits']">
                        Circuits
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center">All rights reserved &copy; | Kiril Atanasov</p>
        </div>
    </div>
</footer>