<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>

    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>

<app>
    Loading...
</app>

<!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
<script>
    (function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = r;
        A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = 1 * new Date();
        a = n.createElement(g),
            r = n.getElementsByTagName(g)[0];
        a.async = 1;
        a.src = u;
        r.parentNode.insertBefore(a, r)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');
</script>

<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>
<script src="assets/scripts/libs/jquery-3.2.1.min.js"></script>
<script src="assets/scripts/libs/bootstrap.min.js"></script>
</body>
</html>
